@font-face {
  font-family: "dune_riseregular";
  src: url("../webfonts/dune_rise-webfont.woff2") format("woff2"), url("../webfonts/dune_rise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  margin: 0;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

hr {
  position: relative;
  border-top: 4px solid #0D0D0D;
  border-radius: 50px;
  max-width: 200px;
  margin: 40px auto;
}

a {
  text-decoration: none;
}

h2 {
  color: #000000;
  font-size: 2.2rem;
  font-weight: bold;
}

.container {
  margin: auto auto;
}
.container.normal {
  max-width: 1000px;
}
.container.long {
  max-width: 1200px;
}

footer {
  position: relative;
  background-color: #0D0D0D;
  padding: 0 50px;
}

.footer-border {
  position: relative;
  background: url("../img/border.png");
  background-repeat: repeat-x;
  height: 200px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}
.footer-content .fa-facebook {
  font-size: 1.8rem;
}
.footer-content .fa-spotify {
  font-size: 1.8rem;
}
.footer-content a {
  font-size: 2rem;
  margin-right: 20px;
  color: #FFFFFF;
}
.footer-content a:hover {
  color: #afafaf;
  transition: 0.2s;
}
.footer-content h3 {
  color: #FFFFFF;
  font-weight: normal;
  margin-bottom: 0;
}
.footer-content img {
  height: 150px;
}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  footer {
    padding: 0 20px;
  }
  .footer-border {
    height: 200px;
  }
  .footer-content {
    flex-direction: column-reverse;
    text-align: center;
    row-gap: 30px;
    padding: 60px 0;
  }
  .footer-content a {
    margin: 0 10px;
  }
  .footer-content h3 {
    margin: 30px 0;
  }
  .footer-content img {
    height: 80px;
  }
}
.header-container {
  position: fixed;
  padding: 0 50px;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
}

header {
  background-color: #0D0D0D;
  padding: 5px 30px;
  border-radius: 60px;
}
header .header-nav {
  display: flex;
  justify-content: space-between;
}
header .header-nav img {
  height: 45px;
}
header .header-nav ul {
  display: flex;
  list-style: none;
}
header .header-nav ul li {
  margin: 0 20px;
}
header .header-nav ul li a {
  color: #FFFFFF;
  font-weight: bold;
}
header .header-nav ul li a:hover {
  color: #afafaf;
  transition: 0.2s;
}
header .header-nav ul li i {
  margin-left: 10px;
}
header .header-nav nav {
  display: block;
}
header .header-nav .header-mobile {
  display: none;
  margin-right: 10px;
}
header .header-nav .header-mobile a {
  cursor: pointer;
  color: #FFFFFF;
  font-size: 44px;
}
header .header-mobile-dd {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 50px 30px;
  margin: 0 50px;
  left: 0;
  right: 0;
  top: 35px;
  z-index: -1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
header .header-mobile-dd a {
  display: block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin: 40px 0;
}
header .header-mobile-dd.show {
  display: none;
  animation: header-mobile-dd-slide 0.4s ease normal forwards;
}

.header-dd {
  float: left;
  overflow: hidden;
}
.header-dd .header-dd-link {
  cursor: default;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.header-dd .header-dd-content {
  display: none;
  position: absolute;
  background-color: #0D0D0D;
  min-width: 150px;
  padding: 15px 15px 0 15px;
  animation: header-dd-slide 0.4s ease normal forwards;
}
.header-dd .header-dd-content hr {
  width: 100%;
  margin: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(63, 63, 63);
  padding: 0;
}
.header-dd .header-dd-content a {
  display: block;
  color: #FFFFFF;
  padding: 15px 0;
}
.header-dd:hover .header-dd-content {
  display: block;
}

@media only screen and (max-width: 950px) {
  header .header-nav nav {
    display: none;
  }
  header .header-nav .header-mobile {
    display: block;
  }
  header .header-mobile-dd.show {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  .header-container {
    padding: 0 20px;
  }
  header {
    padding: 5px 15px;
  }
  header .header-nav img {
    height: 40px;
  }
  header .header-nav .header-mobile a {
    font-size: 40px;
  }
  header .header-mobile-dd {
    top: 30px;
    margin: 0 20px;
  }
}
@keyframes header-dd-slide {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
@keyframes header-mobile-dd-slide {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
.top-div {
  width: 100%;
  height: 1000px;
}
.top-div h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  letter-spacing: 0.5rem;
  line-height: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 4.2rem;
  width: 100%;
  color: #FFFFFF;
  animation: vidheader 0.8s ease normal forwards;
}
.top-div video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.top-title {
  width: 100%;
  height: 400px;
}
.top-title.one {
  background: url("../img/geowave_b_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-title.two {
  background: url("../img/geowave_b_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-title.aboutus {
  background: url("../img/club_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-title.aboutlotus {
  background: url("../img/lotus_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-title.article img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.top-title.event {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-title h1 {
  position: fixed;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -120%);
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  color: #FFFFFF;
}

@media only screen and (max-width: 1150px) {
  .top-div h1 {
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 950px) {
  .top-div h1 {
    letter-spacing: 0.4rem;
    line-height: 4rem;
    font-size: 3rem;
    animation: none;
  }
}
@media only screen and (max-width: 768px) {
  .top-div h1 {
    letter-spacing: 0.3rem;
    line-height: 4rem;
    font-size: 2.5rem;
    animation: none;
  }
}
@media only screen and (max-width: 680px) {
  .top-div h1 {
    letter-spacing: 0.3rem;
    line-height: 3.5rem;
    font-size: 2.5rem;
    max-width: 400px;
    animation: none;
  }
  .top-title h1 {
    top: 25%;
    left: 25%;
    transform: translate(-25%, -100%);
    font-size: 2.5rem;
  }
}
@keyframes vidheader {
  0% {
    opacity: 0;
    transform: rotateX(70deg) translate(-50%, -80%);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translate(-50%, -80%);
    transform-origin: top;
  }
}
.about-div {
  position: relative;
  background-image: url("../img/geowave_w_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px;
}
.about-div h2 {
  max-width: 50%;
  margin-bottom: 50px;
}
.about-div .about-link {
  margin-top: 50px;
}
.about-div .about-link a {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}
.about-div .about-link a:hover i {
  animation: link-arrow-forward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.about-div .about-link a:not(:hover) i {
  animation: link-arrow-backward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.about-div .about-link i {
  margin-left: 10px;
}

.about-content {
  display: grid;
  grid-template-columns: 52% 40%;
  column-gap: 8%;
}
.about-content p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.about-content p:before {
  content: "LOTUS";
  font-weight: bold;
}
.about-content .about-img-div {
  background-image: url("../img/club_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .about-div h2 {
    max-width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .about-div h2 {
    max-width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-content .about-img-div {
    height: 250px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 680px) {
  .about-div {
    padding: 50px 20px;
  }
  .about-div .about-link {
    margin-top: 50px;
    animation: none;
  }
  .about-div .about-link a {
    font-size: 1rem;
  }
  .about-div .about-link i {
    margin-left: 10px;
  }
}
@keyframes link-arrow-forward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes link-arrow-backward {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.news-div {
  position: relative;
  padding: 100px 50px;
}
.news-div h2 {
  margin-bottom: 50px;
}
.news-div .news-link {
  margin-top: 50px;
}
.news-div .news-link a {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}
.news-div .news-link a:hover i {
  animation: link-arrow-forward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.news-div .news-link a:not(:hover) i {
  animation: link-arrow-backward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.news-div .news-link i {
  margin-left: 10px;
}

.news-content {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  row-gap: 60px;
}
.news-content .news-card {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #0D0D0D;
}
.news-content .news-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.news-content .news-card div {
  padding: 20px;
}
.news-content .news-card div h3 {
  margin: 0;
  font-size: 1.1rem;
}
.news-content .news-card div h4 {
  text-align: end;
  margin: 0;
  font-size: 0.9rem;
}
.news-content .news-card .card-date {
  padding: 0;
  margin: 20px 0 0 0;
}
.news-content .news-card:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}
.news-content .news-card:not(:hover) {
  transform: scale(1, 1);
  transition: 0.3s;
}

@media only screen and (max-width: 950px) {
  .news-content {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }
}
@media only screen and (max-width: 768px) {
  .news-content {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .news-div {
    padding: 50px 20px;
  }
  .news-div .news-link {
    margin-top: 50px;
    animation: none;
  }
  .news-div .news-link a {
    font-size: 1rem;
  }
  .news-div .news-link i {
    margin-left: 10px;
  }
  .news-content {
    grid-template-columns: 100%;
    row-gap: 40px;
  }
}
.events-div {
  padding: 100px 50px;
  position: relative;
}
.events-div h2 {
  margin-bottom: 50px;
}
.events-div .events-link {
  margin-top: 50px;
}
.events-div .events-link a {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}
.events-div .events-link a:hover i {
  animation: link-arrow-forward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.events-div .events-link a:not(:hover) i {
  animation: link-arrow-backward 0.3s ease 0s 1 normal forwards;
  transition: 0.3s;
}
.events-div .events-link i {
  margin-left: 10px;
}

.events-content {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 50px;
}
.events-content .events-card {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #0D0D0D;
}
.events-content .events-card img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.events-content .events-card div {
  padding: 20px;
}
.events-content .events-card div h3 {
  margin: 0;
  font-size: 1.1rem;
}
.events-content .events-card div h4 {
  text-align: end;
  margin: 0;
  font-size: 0.9rem;
}
.events-content .events-card .card-status {
  position: absolute;
  bottom: 20px;
}
.events-content .events-card .card-date {
  padding: 0;
  margin: 20px 0 0 0;
}
.events-content .events-card:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}
.events-content .events-card:not(:hover) {
  transform: scale(1, 1);
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .events-content {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 680px) {
  .events-div {
    padding: 50px 20px;
  }
  .events-div .events-link {
    margin-top: 50px;
    animation: none;
  }
  .events-div .events-link a {
    font-size: 1rem;
  }
  .events-div .events-link i {
    margin-left: 10px;
  }
  .events-content {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
}
.res-div {
  position: relative;
  padding: 100px 50px;
}

.res-content {
  display: grid;
  grid-template-columns: 46% 46%;
  column-gap: 8%;
}
.res-content h2 {
  font-size: 1.6rem;
  margin: 0 0 10px 0;
}
.res-content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.res-content .res-call {
  margin-bottom: 20px;
}
.res-content .res-email {
  margin-bottom: 20px;
}
.res-content .res-address {
  margin-bottom: 20px;
}
.res-content .res-hours .res-weekdays {
  display: grid;
  grid-template-columns: 30% auto;
}
.res-content .res-hours .res-weekends {
  display: grid;
  grid-template-columns: 30% auto;
}
.res-content .res-img-div {
  background-image: url("../img/reservation_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .res-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .res-content .res-img-div {
    height: 300px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 680px) {
  .res-div {
    padding: 50px 20px;
  }
  .res-content h2 {
    font-size: 1.5rem;
    text-align: start;
  }
  .res-content p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .res-content .res-hours .res-weekdays {
    grid-template-columns: 40% auto;
  }
  .res-content .res-hours .res-weekends {
    grid-template-columns: 40% auto;
  }
  .res-content .res-img-div {
    height: 250px;
    margin-bottom: 40px;
  }
}
.article-div {
  padding: 100px 50px;
}
.article-div h2 {
  margin-bottom: 50px;
  text-align: start;
  font-size: 2rem;
  margin: 0 0 0 0;
}
.article-div p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.article-title {
  margin-bottom: 80px;
}

@media only screen and (max-width: 680px) {
  .article-div {
    padding: 50px 20px;
  }
  .article-title {
    margin-bottom: 50px;
  }
}
.aboutus-div {
  position: relative;
  padding: 100px 50px;
}
.aboutus-div h2 {
  margin-bottom: 50px;
  text-align: start;
  font-size: 2rem;
  margin: 0 0 0 0;
}
.aboutus-div p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 20px 0;
}

.aboutus-quote {
  text-align: center;
  font-size: 2.4rem;
  margin: 20px 0 80px 0;
}
.aboutus-quote p {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0;
}

.aboutus-img-1 {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 50px 0;
}

.aboutus-img-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 60px 0;
}
.aboutus-img-2 .artist-1 {
  background: url("../img/artist_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  grid-area: 1/1/3/2;
}
.aboutus-img-2 .artist-2 {
  background: url("../img/artist_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: 1/2/2/3;
}
.aboutus-img-2 .artist-3 {
  background: url("../img/artist_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: 2/2/3/3;
}
.aboutus-img-2 img {
  object-fit: cover;
}

.aboutlotus-div {
  position: relative;
  padding: 100px 50px;
}
.aboutlotus-div h2 {
  margin-bottom: 50px;
  text-align: start;
  font-size: 2rem;
  margin: 0 0 0 0;
}
.aboutlotus-div p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 20px 0;
}

.aboutlotus-img-1 {
  background: url("../img/club_3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 50px 0;
}

.aboutlotus-img-2 {
  background: url("../img/fnb_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 50px 0;
}

@media only screen and (max-width: 680px) {
  .aboutus-div {
    padding: 50px 20px;
  }
  .aboutus-quote {
    font-size: 2rem;
    margin: 20px 0 60px 0;
  }
  .aboutus-quote p {
    font-size: 0.8rem;
  }
  .aboutus-img-1 {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 20px 0;
  }
  .aboutus-img-2 {
    display: block;
    margin: 40px 0;
  }
  .aboutus-img-2 .artist-1 {
    height: 250px;
  }
  .aboutus-img-2 .artist-2 {
    height: 250px;
    margin: 20px 0;
  }
  .aboutus-img-2 .artist-3 {
    height: 250px;
  }
  .aboutlotus-div {
    padding: 50px 20px;
  }
  .aboutlotus-img-1 {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 40px 0;
  }
  .aboutlotus-img-2 {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 40px 0;
  }
}
.event-div {
  padding: 100px 50px;
}

.event-content {
  display: flex;
  justify-content: space-between;
}
.event-content h2 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}
.event-content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.event-content .event-title {
  max-width: 600px;
  margin-bottom: 30px;
}
.event-content .event-title h2 {
  font-size: 1.8rem;
}
.event-content .event-datetime {
  margin-bottom: 30px;
}
.event-content .event-ticket {
  margin-bottom: 30px;
}
.event-content .event-details {
  max-width: 600px;
  margin-bottom: 30px;
}
.event-content .event-reservations {
  margin-bottom: 30px;
}
.event-content .event-img-div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
}

@media only screen and (max-width: 1150px) {
  .event-content .event-title {
    max-width: 500px;
  }
  .event-content .event-details {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1050px) {
  .event-content .event-title {
    max-width: 400px;
  }
  .event-content .event-details {
    max-width: 400px;
  }
}
@media only screen and (max-width: 950px) {
  .event-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .event-content .event-title {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
  }
  .event-content .event-details {
    width: 100%;
    max-width: 100%;
  }
  .event-content .event-img-div {
    margin: 0 auto;
    height: 350px;
    width: 350px;
  }
}
@media only screen and (max-width: 680px) {
  .event-div {
    padding: 50px 20px;
  }
  .event-content h2 {
    text-align: start;
  }
}